<main>
  <div class="landing-hero-container">
    <div class="landing-hero-header">
      <h1>SHIPSHIP</h1>
    </div>
    <div class="landing-logo-container">
      <div class="landing-left-logo-side">
        <div class="landing-p-container">
          <p>
            Let us help you find the best shipping options for any and all needs...
          </p>
        </div>
      </div>
      <div class="landing-center-logo">
        <div id="landing-logo"></div>
      </div>
      <div class="landing-right-logo-side">
      </div>
    </div>
    <div id="landing-hooray">
      <h1>...HOORAY!</h1>
    </div>
  </div>
    <div class="landing-sidebar">
    <ul class="landing-sidebar-options">
      <li><%= link_to "LOGIN", "/users/sign_in" %></li>
      <li><%= link_to "SIGNUP", "/users/sign_up" %></li>
      <li><%= link_to "DASHBOARD", "/dashboard" %></li>
    </ul>
    <div class="landing-ship-it">
      <h1><%= link_to "SHIP IT!", new_parcel_path %></h1>
    </div>
  </div>
</main>
<section>
  <div class="landing-info-container">
    <div class="landing-info-header">
      <h1>How we work...</h1>
    </div>

    <!-- INFO SECTION -->

    <div class="landing-cards-container">

      <!-- CARD 1 -->

      <div class="landing-card">
        <div class="landing-card-header"><p>Build your packages</p></div>
        <div class="landing-card-logo">
        </div>
        <p class="landing-card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>

      <!-- CARD 2 -->

      <div class="landing-card">
        <div class="landing-card-header">
          <p>Give us your info</p>
        </div>
        <div class="landing-card-logo">
        </div>
        <p class="landing-card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>

      <!-- CARD 3 -->

      <div class="landing-card">
        <div class="landing-card-header">
          <p>Compare prices!</p>
        </div>
        <div class="landing-card-logo">
        </div>
        <p class="landing-card-footer">
          this is just a placeholder, we gotta add some information about how to actually build the packages...
        </p>
      </div>
      </div>
    </div>
  </div>
</section>

<!-- CONTACT US PAGE -->

<section>
  <div class="landing-contact-container">

  <!-- CONTACT US HEADER -->

    <div class="landing-team">
      <div class="landing-contact-header">
        <h1>Contact Us</h1>
      </div>

      <div class="landing-team-pics-container">

        <div class="landing-pics-cards">
          <div card="landing-card-eric">
            <%= image_tag 'OyanadelEric.jpg', :class => "eric" %>
            <div class="landing-card-name">
              <h3>Eric Oyanadel</h3>
            </div>
          </div>

          <div class="landing-card-brendan">
            <%= image_tag 'GeralskyBrendan.jpg', :class => "brendan" %>
            <div class="landing-card-name">
              <h3>Brendan Geralsky</h3>
            </div>
          </div>

          <div class="landing-card-andres">
            <%= image_tag 'UrdanetaAndres.jpg', :class => "andres" %>
            <div class="landing-card-name">
              <h3>Andres Urdaneta</h3>
            </div>
          </div>

          <div class="landing-card-daniel">
            <%= image_tag 'PerezDaniel.jpg', :class => "daniel" %>
            <div class="landing-card-name">
              <h3>Daniel Perez</h3>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="landing-contact-form">
    </div>
  </div>
</section>
