
<main class="dashboard-main">
  <h1>Dashboard</h1>
<%= render "shared/nav_dropdown" %>
<!--
  <div>
    Would you like to finish setting up your profile?
  <%= link_to "Setup Profile", edit_user_registration_path %>
  </div>
-->
  <div class="dashboard-create">
    <%= link_to "Create Shipment", new_parcel_path %>
  </div>

  <div class="dashboard-account">
    <% if user_signed_in? %>
    <div class="dashboard-account-container">
    <h2>ACCOUNT INFO</h2>
      <div>
        <%= label_tag("Company:") %>
        <%= text_field_tag(:from_name, current_user.profile&.name) %>
      </div>
      <div> 
        <%= label_tag("Phone:") %>
        <%= text_field_tag(:from_phone, current_user.profile&.phone) %>
      </div>
      <div> 
      <%= label_tag("Street1:") %>
        <%= text_field_tag(:from_street1, current_user.primary_location&.street1) %>
      </div>
      <div> 
        <%= label_tag("Street2:") %>
        <%= text_field_tag(:from_street2, current_user.primary_location&.street2) %>
      </div>
      <div> 
        <%= label_tag("City:") %>
        <%= text_field_tag(:from_city, current_user.primary_location&.city) %>
      </div>
      <div> 
        <%= label_tag("State:") %>
        <%= text_field_tag(:from_state, current_user.primary_location&.state) %>
      </div>
      <div> 
        <%= label_tag("Zip:") %>
        <%= text_field_tag(:from_zip, current_user.primary_location&.zip) %>
      </div>
      <div> 
        <%= label_tag("Country:") %>
        <%= text_field_tag(:from_country, current_user.primary_location&.country) %>
      </div>
    </div>  
    <% end %> 
  </div>

  <div class=dashboard-location-container>
    <h1>Locations History </h1>
    <% @locations.each do |location| %>
      <div class="super-box">
        <div class="container">
          <div class="box" data-content="<%= @keys.map{ |k| location[k] }.join(', ') %>">
            <div class="icon_bg"></div>
          </div>
          <div class="icon">
          </div>
        </div>
        <div class="text">
          <p class="title">
            Created: <%= location.created_at.strftime('%m/%d/%y') %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
