<%= render "shared/nav_dropdown" %>
<%= form_with(url: shipments_path) do %>
<div class="shipment-form-group-container">
  <div class="shipment-to-address">
  <h1 class="shipment-to-h1">To: </h1>
    <div class="shipment-to-wrap">
      <div>
        <%= label_tag(:to_street1, "Street1") %>
        <%= text_field_tag(:to_street1) %>
      </div>
      <div>
        <%= label_tag(:to_street2, "Street2") %>
        <%= text_field_tag(:to_street2) %>
      </div>
      <div>
        <%= label_tag(:to_city, "City") %>
        <%= text_field_tag(:city) %>
      </div>
      <div>
        <%= label_tag(:to_state, "State") %>
        <%= text_field_tag(:to_state) %>
      </div>
      <div>
        <%= label_tag(:to_zip, "Zip") %>
        <%= text_field_tag(:to_zip) %>
      </div>
      <div>
        <%= label_tag(:to_country, "Country") %>
        <%= text_field_tag(:to_country) %>
      </div>
      <div>
        <%= label_tag(:to_company, "Company") %>
        <%= text_field_tag(:to_company) %>
      </div>
      <div>
        <%= label_tag(:to_phone, "Phone") %>
        <%= text_field_tag(:to_phone) %>
      </div>
    </div>
  </div>

  <div class="shipment-from-address">
  <h1 class="shipment-from-h1">From: </h1>
    <div class="shipment-from-wrap">
    <div>
      <%= label_tag(:from_street1, "Street1") %>
      <%= text_field_tag(:from_street1, current_user&.primary_location&.street1) %>
    </div>
    <div>
      <%= label_tag(:from_street2, "Street2") %>
      <%= text_field_tag(:from_street2, current_user&.primary_location&.street2) %>
    </div>
    <div>
      <%= label_tag(:from_city, "City") %>
      <%= text_field_tag(:from_city, current_user&.primary_location&.city) %>
    </div>
    <div>
      <%= label_tag(:from_state, "State") %>
      <%= text_field_tag(:from_state, current_user&.primary_location&.state) %>
    </div>
    <div>
      <%= label_tag(:from_zip, "Zip") %>
      <%= text_field_tag(:from_zip, current_user&.primary_location&.zip) %>
    </div>
    <div>
      <%= label_tag(:from_country, "Country") %>
      <%= text_field_tag(:from_country, current_user&.primary_location&.country) %>
    </div>
    <div>
      <%= label_tag(:from_company, "Company") %>
      <%= text_field_tag(:from_company, current_user&.profile&.name) %>
    </div>
    <div>
      <%= label_tag(:from_phone, "Phone") %>
      <%= text_field_tag(:from_phone, current_user&.profile&.phone) %>
    </div>
    <% if user_signed_in? %>
      <div>
          <%= label_tag :save %>
          <%= select_tag :save, options_for_select(["No", "Yes", "Save as Primary Location"]) %>
      </div>
    <% end %>
    <%= submit_tag('Submit!    ', data: { disable_with: "Processing..." },class: "shipment-button") %>
  </div>
</div>

  <%= hidden_field_tag(:length, params[:length]) %>
  <%= hidden_field_tag(:width, params[:width]) %>
  <%= hidden_field_tag(:height, params[:height]) %>
  <%= hidden_field_tag(:weight, params[:weight]) %>

<% end %>
