
<div>
  <h3>Shipment</h3>
  <p>Street 1: <%= @shipment[:from_address][:street1] %></p>
  <p>Street 2: <%= @shipment[:from_address][:street2] %></p>
  <p>City: <%= @shipment[:from_address][:city] %></p>
  <p>State: <%= @shipment[:from_address][:state] %></p>
  <p>Zip: <%= @shipment[:from_address][:zip] %></p>
</div>

<div>
<h3> Package Information
  <p><%= @shipment[:parcel][:id] %></p>
  <p><%= @shipment[:parcel][:created_at] %></p>
  <p><%= @shipment[:parcel][:length] %></p>
  <p><%= @shipment[:parcel][:length] %></p>
  <p><%= @shipment[:parcel][:width] %></p>
  <p><%= @shipment[:parcel][:predefined_package] %> </p>
</div>   
<div>
<h3> Carriers</h3>
  <% @shipment[:rates].each do |rate|%>
    <p>Carrier: <%= rate[:carrier] %></p>
    <p>Service: <%= rate[:service] %></p>
    <p>Rate: <%= rate[:rate] %></p>
  <% end %>

  <% if @shipment[:rates].empty? %>
    <p>sorry that size is not supported for this carrier service</p>
  <% end%>
</div>

<!-- service carrier rate -->
