  <%= keys = @shipment.keys%>

<div>
  <h3>Shipment</h3>
  <%= @shipment[:from_address][:street1] %>
  <%= @shipment[:from_address][:street2] %>
  <%= @shipment[:from_address][:city] %>
  <%= @shipment[:from_address][:zip] %>
  <%= @shipment[:from_address][:city] %>
</div>
<div>
<h3> Package Information
  <%= @shipment[:parcel][:id] %>
  <%= @shipment[:parcel][:created_at] %>
  <%= @shipment[:parcel][:length] %>
  <%= @shipment[:parcel][:length] %>
  <%= @shipment[:parcel][:width] %>
  <%= @shipment[:parcel][:predefined_package] %> 
</div>   
<div>
<h3> Carriers</h3>
  <% carrierParam = @shipment[:rates][0]%>
  <% if carrierParam.present?%>
  <% carrierParam %>
  <%= carrierParam[:carrier] %>
  <%= carrierParam[:service] %>
  <%= carrierParam[:rate] %>
  <% else %>
    sorry that size is not supported 
  <% end%>
</div>
     
<!-- service carrier rate -->